*.o
*.po
*.dep
*.swp
*.log
*.sh~
*.h~
*.cpp~
src/Results/*.txt
src/tools/sweep_scripts/mix1/*
src/tools/sweep_scripts/mix2/*
src/tools/sweep_scripts/mix3/*
src/tools/sweep_scripts/mix4/*
src/tools/sweep_scripts/master/*
src/tools/sweep_scripts/original/*
tools/sweep_scripts/mix1/*
tools/sweep_scripts/mix2/*
tools/sweep_scripts/mix3/*
tools/sweep_scripts/mix4/*
tools/sweep_scripts/master/*
tools/sweep_scripts/original/*
src/state/*
*~
\.#*
*#
FDSim
NVDSim
libfdsim.so
libnvdsim.so
